<?xml version="1.0" encoding="utf-8"?>
<install type="plugin" version="2.0.0">
	<name>Delicious</name>
	<author>Tuiyo Project</author>
	<creationDate>December 2010</creationDate>
	<copyright>Copyright (C) 2005 - 2010 Livingstone Fultang. All rights reserved.</copyright>
	<license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
	<authorEmail>admin@tuiyo.co.uk</authorEmail>
	<authorUrl>www.tuiyo.co.uk</authorUrl>
	<version>1.0.0</version>
	<description>Share you're delicious feeds with tuiyo. Your Delicious feeds will be checked regularly and data imported and saved to your Timeline</description>
	<params group="plugin">
		<param name="username" type="text" default="" label="Username"  />
	</params>
	<params group="acl" default="">
		<param name="service" label="Add Delicious" default="access" />
	</params>
	<params group="privacy"></params>
	<params group="profilepicture"></params>
</install>
