


div.friendListsItem{ border-bottom: 1px solid #ebebeb; padding:7px; }
a.deleteIcon{ float: right; text-indent: -9999em; background: transparent url(../icons/delete.png) no-repeat scroll 0 0; width: 20px; height: 20px }
a.addIcon{ float: right; text-indent: -9999em; background: transparent url(../icons/add.png) no-repeat scroll 0 0; width: 20px; height: 20px }

div.inviteFriendsHistory .pending, div.inviteFriendsHistory .complete{ padding: 3px 0; margin-bottom: 1px }

div.inviteFriendsHistory .complete{ background: #E6F9E0 none no-repeat scroll 0 0} 
div.inviteFriendsHistory .pending{  background: #FFE8E8 none no-repeat scroll 0 0 }