
div#loginPageCreate, div#loginPageSignIn, div#loginPageResetDetails{-moz-border-radius:6px; -khtml-border-radius:6px; background:none repeat scroll 0 0 #F0F0F0;margin:10px auto;max-width:360px;padding:25px 20px 25px 30px; }

.TuiyoForm input.TuiyoFormText{padding: 8px}
