<?xml version="1.0" encoding="utf-8"?>
<install type="plugin" version="2.0.0">
	<name>System</name>
	<author>Tuiyo Project</author>
	<creationDate>December 2010</creationDate>
	<copyright>Copyright (C) 2005 - 2010 Livingstone Fultang. All rights reserved.</copyright>
	<license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
	<authorEmail>admin@tuiyo.co.uk</authorEmail>
	<authorUrl>www.tuiyo.co.uk</authorUrl>
	<version>1.0.0</version>
	<description>System service and Jommla</description>
	<params group="plugin">
		<param name="username" type="text" default="" label="Username"  />
		<param name="password" type="password" default="" label="Password"  />
	</params>
	<params group="acl" default="">
		<param name="groups" label="Groups" default="access, delete, edit,  manage, moderate, view" />
		<param name="photos"  default="access, delete, edit, manage, view, moderate" label="Photos"/>
		<param name="chat" label="Chat Room" default="access,  delete, edit, manage, view, moderate, create" />
		<param name="discussions" label="Discussions" default="access, delete, edit, manage, view, create, moderate" />
		<param name="articles" label="Articles" default="access, delete, edit, manage, view, read, create, moderate" />
	</params>
	<params group="privacy"></params>
	<params group="profilepicture"></params>
	<params group="administrator">
		<param type="text" class="TuiyoFormText" name="opentokAPIKey" label="OpenTok API key" default="" />
		<param type="text" class="TuiyoFormText" name="opentokAPISecret" label="OpenTok API Secret" default="" />
		<param type="text" class="TuiyoFormText" name="updateServer" label="System Update Server" default="http://update.tuiyo.co.uk" />
		<param type="list" class="TuiyoFormDropDown" name="updateSatus" label="Update Development Status" default="stable">
			<option value="nightly">Nightly</option>
			<option value="alpha">Alpha</option>
			<option value="beta">Beta</option>
			<option value="stable">Stable</option>
		</param>
	</params>
</install>