<?xml version="1.0" encoding="utf-8"?>
<install type="plugin" key="feed" version="2.0.0">
	<name>Custom Feed</name>
	<author>Tuiyo Project</author>
	<creationDate>December 2010</creationDate>
	<copyright>Copyright (C) 2005 - 2010 Livingstone Fultang. All rights reserved.</copyright>
	<license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
	<authorEmail>admin@tuiyo.co.uk</authorEmail>
	<authorUrl>www.tuiyo.co.uk</authorUrl>
	<version>1.0.0</version>
	<description>Add a custom Feed to your Tuiyo timeline</description>

	<params group="plugin">
		<param name="feedURL" type="text" default="" label="Feed URL" />
	</params>
	<params group="privacy">
		<param name="viewFeed" type="privacyel" label="Who can view your Feed" />
		<param name="rateFeed" type="privacyel" label="Who can view your Feed" />
	</params>
</install>
