<?xml version="1.0" encoding="utf-8"?>
<install type="plugin" version="2.0.0" key="flickr">
    <name>Flickr</name>
    <author>Tuiyo Project</author>
    <creationDate>December 2010</creationDate>
    <copyright>Copyright (C) 2005 - 2010 Livingstone Fultang. All rights reserved.</copyright>
    <license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
    <authorEmail>admin@tuiyo.co.uk</authorEmail>
    <authorUrl>www.tuiyo.co.uk</authorUrl>
    <version>1.0.0</version>
    <description>Flickr service for Jommla</description>
    <params group="acl" default="">
        <param name="service" label="Add Flickr" default="access" />
    </params>
    <params group="plugin">
        <param name="flickruserid" type="text" default="" label="Flickr UserID e.g 12037949632@N01"  />
    </params>
    <params group="privacy"></params>
    <params group="profilepicture"></params>
</install>
