html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {background:transparent;border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;outline:0;vertical-align:baseline;}
table {border-collapse:collapse;border-spacing:0;}

/* Main Layout */
html {height:100%;margin-bottom:1px;}
body {background-color: #f1f1f1; background-repeat: repeat; font:62.5%/1.2 Kalinga, 'Segoe UI', 'Lucida Grande', sans-serif ,Helvetica, Arial, sans-serif;color:#555; }
h1,h2,h3,h4,.componentheading {font-weight:bold;margin:25px 0;}
h1,.componentheading {font-size:180%;}
h2 {font-size:150%;}
h3 {font-size:130%;}
h4 {font-size:110%;}
a {color:#34647F;text-decoration:none;}
a:hover {text-decoration:underline;}
ul {margin:1em;}
p {margin-top:10px;margin-bottom:10px; line-height:1.6em;
padding:5px 0 0}
#main {font-size:1.3em;line-height:140%; margin: 80px 0; }
.background {position:absolute;width:100%;height:130px;background:#f1f1f1 none 0 -384px repeat-x;}
#main .foreground, #message, #showcase, .leading, #page {position:relative;}
#message, #showcase {z-index:0;}
#main-content {border-bottom:1px solid #ddd; }
.dp20,.dp25,.dp33,.dp50,.dp100 {float:left;margin-top:15px;}
.dp20 {width:20%;}
.dp25 {width:25%;}
.dp33 {width:33.33%;}
.dp50 {width:50%;}
.dp100 {width:100%;margin-top:0;}
.clr {clear:both;font-size:0;}
#colmask {clear:both;overflow:hidden;position:relative;width:100%;}
#maincol, #wrapper {position:relative;}
.s-c-s #colmid{border-left: 1px solid #eee}
.s-c-s #colmid, .s-c-x #colright {float:left;position:relative;width:200%;}
.s-c-s #colright {float:left;left:50%;position:relative;width:100%;}
.s-c-s #col1wrap {float:right;position:relative;right:100%;width:50%;}
.s-c-s #col1pad, .x-c-s #col1, .x-c-s #colmid {overflow:hidden; background: #fff}
.s-c-s #col1 {overflow:hidden;width:100%;}
.s-c-s #col2 {float: left;
left: 198px !important;
margin-left: -50%;
overflow: hidden;
padding-left: 11px;
position: relative;
width: 210px !important;}
.s-c-s #col3 {float:left;position:relative;overflow:hidden;left:0;}
.s-c-x #col1wrap {float:right;position:relative;width:50%;}
.s-c-x #col1 {overflow:hidden;position:relative;right:100%;}
.s-c-x #col2 {float:left;position:relative; right: 219px !important; width: 220px}
.x-c-s #colright {float:left;position:relative;right:100%;width:200%;}
.x-c-s #col1wrap {float:left;left:50%;position:relative;width:50%;}
.x-c-s #col3 {float:right;position:relative; background: #f8f8f8}
.s-c-s .ctr-color1, .s-c-s .ckl-color1, .s-c-x .ckl-color1, .x-c-s .cdr-color1 {background:#eee;}
.s-c-s .ctr-color2, .s-c-s .ckl-color2, .s-c-x .ckl-color2, .x-c-s .cdr-color2 {}
.s-c-s #col1pad, .s-c-x #colright, .x-c-s #colright {background:transparent none repeat scroll 0 0}
#wrapper{-moz-box-shadow: #CCC 0px 0px 9px; -webkit-box-shadow:#CCC 0px 0px 9px;
background: white;
margin: 0px auto;
max-width: 1264px;
width: 1038px;}
.cols1 {display:block;float:none;margin:0;width:100%;}
.cols2 {width:49%;overflow:hidden;}
.cols3 {width:30%;}
.column1, .column2 {position:relative;float:left;margin:0;}
.colpad {padding:0 10px;position:relative;}
.column2 {float:right;width:49%;}
.article_row {overflow:hidden;margin:0 -10px 15px -10px;}

/* Header */
#logo {background:url("../images/logo.png") no-repeat scroll 0 0 transparent; display:block; height:50px; margin:0 20px; width:106px;}
#header {overflow:hidden;}
#header li {list-style:none;float:left;padding-left:15px;font-weight:bold;}
#nav {height:34px;background:#000;z-index:5000;position:fixed; -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 2px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#111)); left: 0; top: 0; right:0 ; background: -moz-linear-gradient(top, #333 , #111) }

#nav ul {margin:0px;}
#nav li {list-style:none !important ;float:left;padding-left:3px;height:34px;position:relative;}
#nav li a {text-decoration: none; color:#FFFFFF; display:block; font-weight:normal; font-size:12px; line-height:25px; margin-top:4px; padding:0 10px;}
#nav li.active a {-moz-border-radius:4px 4px 4px 4px;
background:-moz-linear-gradient(center top , #313131, #272727) repeat scroll 0 0 transparent;
color:#42A8F1;}
#nav li a:hover, #nav li:hover a, #nav li.sfHover a {-moz-border-radius:4px 4px 4px 4px;
background:-moz-linear-gradient(center top , #313131, #272727) repeat scroll 0 0 transparent;
color:#fff;}
#nav li ul {position:absolute;width:170px;left:-999em;margin-left:-1px;border:1px solid #295770;border-top:0;}
#nav li ul ul {margin:-31px 0 0 170px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul, #nav li.sfHover ul ul, #nav li.sfHover ul ul ul, #nav li.sfHover ul ul ul ul {left:-999em;}
#nav li li {padding:0;height:auto;background:#fff;width:170px;}
#nav li li a, #nav li li.active a, #nav li li a:hover {margin:0;height:30px;line-height:30px;background:#fff;border-top:1px solid #295770;color:#34647F;}
#nav li li a, #nav li.active li a {font-weight:normal;}
#nav li:hover ul, #nav li.sfHover ul {left:4px;}
#nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul, #nav li li.sfHover ul, #nav li li li.sfHover ul, #nav li li li li.sfHover ul {left:0;}

/* Showcase */
#showcase {margin:0;position:relative;color:#000;}
#showcase .background {position:absolute;width:100%;height:130px;background:#fff none 0 -514px repeat-x;}
#showcase .foreground {border-bottom:1px dashed #dfeaee;overflow:hidden;padding:25px;text-align: center;}
#showcase h1 {font-weight:normal;font-size:3.0em;line-height:105%;margin:25px 55px 10px 25px;}
#showcase h3 {font-weight:normal;font-size:1.4em;font-weight:normal;margin:0 55px 20px 25px;}
#showcase b {font-weight:normal;color:#7F8C51;}
#showcase .pad {padding:0 50px 25px 25px;}
#showcase .num {float:left;background:#7F8C51;text-align:center;line-height:90%;color:#fff;font-size:2em;padding:3px 8px;}
#showcase .pad h2 {font-size:1.4em;font-weight:bold;margin:0 0 5px 40px;}
#showcase .pad p {margin-left:40px;}

/* Content styles */
p.buttonheading {position:absolute;top:2px;right:10px;margin:0;}
.buttonheading .icon {display:block;width:16px;height:16px;float:left;margin-left:5px;}
.buttonheading .pdf {background:url(../images/light4.png) -57px -366px;}
.buttonheading .print {background:url(../images/light4.png) -21px -366px;}
.buttonheading .email {background:url(../images/light4.png) -39px -366px;}
.iteminfo {font-size:90%;overflow:hidden;border-bottom:1px solid #dedede;margin-bottom:20px;display:block;margin-top:-10px;width:100%;}
.modifydate, .createdby, .createdate {display:block;}
.createdby {font-weight:bold;}
a.readon, a.readon2 {display:block;margin-top:15px;font-style:italic;}
a.readon2 {background:url(../images/light4.png) 100% -344px;display:block;float:right;color:#fff;font-weight:bold;line-height:20px;}
a.readon2 span {background:url(../images/light4.png) 0 -344px;display:block;margin-right:10px;height:21px;float:left;padding:0 5px 0 15px;}
.breadcrumbs-pad {padding:0;}
div.breadcrumbs {color: #777;
font-size: 80%;
font-weight: normal;
margin: 0px;
padding: 0px 15px 5px;}
div.breadcrumbs a{font-weight: normal!important;}
div.breadcrumbs .sep {padding:0 5px;}
.component-pad {border-bottom:1px solid #CCCCCC;
padding:15px;}
.banneritem_text {margin-bottom:10px;}
#modlgn_username, #modlgn_passwd {border:1px solid #ccc;padding:3px;}
.pagination span, .pagination a {margin-right:5px;}
#colmask ul li, ul, ul li{list-style:none;}
#colmask ul ul {margin-top:0;}
#colmask ul ul li {list-style:square;}
.colpad h2.contentheading {padding-right:65px;}
.sectiontableheader {font-weight:bold;line-height:25px;text-align:left;}
tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td, td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2 {text-align:left;padding:0 4px;vertical-align:middle;border-top:1px solid #ddd;line-height:30px;}
span.attention {display:block;margin:15px 0;padding:8px 10px 8px 10px;background:#FFF3A3;border:1px solid #E7BD72;color:#B79000;}

/* Modules */
.module {padding:1px;}
.module-title {font-size:110%;font-weight:bold;margin:0;padding:7px 15px 5px;}
.module-body {padding:10px 15px 25px;}
.color1 .module-title {background:url(../images/light4.png) 0 -204px repeat-x;border-bottom:1px solid #ddd;color:#777;}
.color1 .module-body {border-top:1px solid #fff;}
.color2 .module-title {background:url(../images/light4.png) 0 -204px repeat-x;/*-136px repeat-x; border-bottom:1px solid #c3d9e1;*/ border-top: 1px solid #f4f4f4; color:#50646d;}
.color2 .module-body {border-top:1px solid #dfeaef;}
#colmask .m_menu {/*background:#7F8C51;*/color:#fff;}
#colmask .m_menu .module-title {/*background:url(../images/light4.png) 0 -0px repeat-x;border-bottom:1px solid #6B7643;*/color:#fff;}
#colmask .m_menu .module-body {/*border-top:1px solid #97A763;*/ padding: 0}
#colmask .m_menu li a {color:#fff; font-weight: normal!important; background:url("../images/bg-menu-item-green.gif") no-repeat scroll right center transparent;cursor:pointer; display:block; font-size:14px; padding:7px 15px; text-decoration:none; -moz-border-radius:4px 0 0 4px; -khtml-border-radius:4px 0 0 4px;}
#colmask .m_menu li.active a{font-weight: bold !important; background-image:url("../images/bg-menu-item-current.gif") !important;color:#333333; font-weight:bold;}
#colmask .m_menu li.parent ul{ margin: 0px 0px 0px 0px !important}
#colmask .m_menu li.parent ul li a{background: none !important; color: #fff; font-weight: normal !important;display:block; font-size:13px; line-height:1.2em; padding:8px 15px;}
#colmask .m_menu ul {list-style:none outside none !important; margin:31px 0 15px 15px; padding:0;}
#colmask .m_menu ul li{list-style: none;list-style:none outside none; padding-bottom:10px; text-align:right;}
#colmask .m_menu li.parent ul li{padding-bottom: 0px}
#mainmods, #mainmods2, #mainmods3 {overflow:hidden;padding-top:15px;}
#mainmods3 {background:#eee;border-top:1px solid #fff;border-bottom:1px solid #ddd;}
.spacer .module {float:left;}
.spacer.w99 .module {width:100%;}
.spacer.w49 .module {width:49.2%;}
.spacer.w33 .module {width:32.8%;}
#header .module {float:right;margin-left:325px;}
#main-content li .active a {font-weight: normal;}

/* System Messages */
#message{  margin: 50px auto;width: 1038px;}
#system-message
{
margin:10px 0 20px 0;
padding: 0 !important;
background:#fff;
border:solid 0px;
}
#system-message dt { font-weight: bold; }
#system-message dd { }
#system-message dd ul { position:relative;margin:0 0 15px 0; padding:0; border:1px solid;background-position:10px 50% !important;background-repeat:no-repeat !important; font-size:13px}
#system-message dd ul li{list-style: none !important; display:block;  font-style:normal;  padding:10px 10px 10px 36px;  line-height:1.5em; } 
/* System Standard Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }
#system-message dd.message ul { background:#dbe3ff url('../images/icons/information.png'); border-color:#a2b4ee;color:#585b66}
 
/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error {  }
#system-message dd.error ul { background:#ffcece url('../images/icons/cross_circle.png'); border-color:#df8f8f;  color:#665252 }
 
/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice {  }
#system-message dd.notice ul { background:#fffbcc url('../images/icons/exclamation.png');border-color:#e6db55;color:#666452}

 
/* System Success Messages */
#system-message dt.success { display: none; }
#system-message dd.success {  }
#system-message dd.success ul { background:#d5ffce url('../images/icons/tick_circle.png'); border-color:#9adf8f;  color:#556652 }


/* Footer */
#footer {/*background:#f7f7f7;border-top:1px solid #fff;*/}
.footer-pad {padding:10px 15px;overflow:hidden;}
#logo2 {width:165px;height:20px;background:url(../images/light4.png) 5px -646px no-repeat;display:block;float:right;margin-left:15px;margin-top:15px;}
#footer ul {margin:0;}
#footer li {list-style:none;float:left;padding-right:20px;font-weight:bold;}