<?xml version="1.0" encoding="utf-8"?>
<install type="plugin" version="2.0.0">
	<name>Twitter</name>
	<author>Tuiyo Project</author>
	<creationDate>December 2010</creationDate>
	<copyright>Copyright (C) 2005 - 2010 Livingstone Fultang. All rights reserved.</copyright>
	<license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
	<authorEmail>admin@tuiyo.co.uk</authorEmail>
	<authorUrl>www.tuiyo.co.uk</authorUrl>
	<version>1.0.0</version>
	<description>Twitter service and  Jommla</description>

	<params group="profilepicture"></params>
	
	<params group="administrator">
			<param type="text" class="TuiyoFormText" name="twitterCallback" label="Twitter Callback URL"  description="Visit developers.twitter.com for more details" />
			<param type="text" class="TuiyoFormText" name="twitterConsumerKey" label="Twitter Consumer Key"  description="Visit developers.twitter.com for more details" />
			<param type="text" class="TuiyoFormText" name="twitterConsumerSecret" label="Twitter ConsumerSecret"  description="Visit developers.twitter.com for more details" />
	</params>
	
</install>